---
import Layout from '../layouts/Layout.astro';
import { ArrowLeft } from 'lucide-react';
---
<Layout title="What's in the name? | khrotu" description="The origin of the KHROTU name">
  <main class="max-w-6xl md:ml-[10%] lg:ml-[12%] px-6 py-20 md:py-32 flex flex-col gap-20">
    <a href="/" class="flex items-center gap-2 text-lg text-[var(--text-muted)] hover:text-white transition-colors w-fit">
      <span class="w-6 h-6"><ArrowLeft class="w-6 h-6" /></span> back to me
    </a>
    <article class="flex flex-col gap-10 max-w-4xl">
      <h1 class="text-4xl font-medium text-[var(--text-main)]">
        What's in the name?
      </h1>
      <div class="flex flex-col gap-8 text-xl text-[var(--text-muted)] leading-relaxed">
        <p>
          Surprisingly, no, it's not a bunch of random letters. KHROTU stands for King Hades, Ruler of the Underworld.
        </p>
        <p>
          If you're wondering why — I was a literal child when I came up with it. I was eight and thought Hades was a chill guy, so I stole the name from a book I was reading at the time.
        </p>
        <p>
          As for pronunciation, it's "crow-too", although I doubt you need that information to type it out.
        </p>
        <p>
          The other names obviously stem from my main one. "khrotu" is what I use when full caps would make me sound dumb in context (I would unironically have more respect for some kid called "DoggyLover69" than a cocky all-caps random-letter username). Any name with a "butsomething" suffix is for accounts on different sites or emails — e.g. "butms" for my Outlook email, "butsnap" for Snapchat, "butbsky" for Bluesky, etc.
        </p>
      </div>
    </article>
  </main>
</Layout>